name: Release GBL builds

on:
  release:
    types:
      - published

jobs:
  release-assets:
    name: Create release with GBLs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - uses: softprops/action-gh-release@v2
        with:
          files: gbl-builds/*.gbl
