name: Update GBL builds

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ["src/**"]

permissions:
  contents: write

jobs:
  update-gbl-builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"

      - run: npm ci

      - name: Re-create GBL builds
        run: npm run build-gbls

      - name: Test GBL builds
        run: npm run test-gbl

      - name: Commit changes on push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Update GBL builds" || echo 'Nothing to commit'
          git push
